In [1]:
n = 10

In [2]:
print(n)

10

In [3]:
id(n)

9789280

In [4]:
type(n)

int

In [5]:
n = 1+2+3+\
    4+5

print(n)

15

In [6]:
n = (1+2+3)
print(n)

6

In [7]:
n = int(input("enter the value of n"))

enter the value of n16

In [8]:
print(n)

16

In [9]:
name = "Varun goel"
greeting  = "Good morning"
print("{} {}".format(name,greeting))

Varun goel Good morning

In [10]:
name = "Varun goel"
greeting  = "Good morning"
print("{g} {n}".format(n = name,g = greeting))

Good morning Varun goel

In [11]:
name = "Varun goel"
greeting  = "Good morning"
print("{g} {n}".format(greeting,name))

KeyError: 'g'

In [12]:
name = "Varun goel"
greeting  = "Good morning"
print("{} {}".format(greeting,name))

Good morning Varun goel

In [13]:
name = "Varun goel"
greeting  = "Good morning"
print("{0} {1}".format(name,greeting))

Varun goel Good morning

In [14]:
name = "Varun goel"
greeting  = "Good morning"
print("{1} {0}".format(name,greeting))

Good morning Varun goel

In [15]:
grade_1 = 25
grade_2 = 75
average = grade_1 + grade_2/grade_1 + grade_2/2
print(average)

65.5

In [16]:
num1 = 10
num2 = 20

In [17]:
add = num1 + num2
sub = num1 - num2

In [18]:
mult = num1 * num2
div = num1 / num2
floor_div = num1 // num2
mod = num1 % num2

In [19]:
print(add)

30

In [21]:
print(sub)
print(mult)
print(div)
print(floor_div)  # gives integer value of division
print(mod)

-10
200
0.5
0
10

In [22]:
num1 == num2

False

In [23]:
num1 > num2

False

In [24]:
num1 < num2

True

In [25]:
2**(3**2)

512

In [26]:
(2**3)**2

64

In [27]:
num1 = 5
num2 = 4
add = num1 + num2
mult = num1*num2
div = num1/num2
result = num1>num2
bitwise = num1 & num2
print(" {} {} {} {} {}".format(add,mult,div,result,bitwise))

 9 20 1.25 True 4

In [28]:
my_str = "Good Morning"
"Good" in my_str

True

In [29]:
my_str = "Good Morning"
"Good" in not my_str

SyntaxError: invalid syntax (<ipython-input-29-5db44b08ff32>, line 2)

In [30]:
my_str = "Good Morning"
"Good" not in my_str

False

In [41]:
num1 = 10
n2 = 10
num1 is n2      #checks on the location

True

In [42]:
num1 == n2    #checks o the value of the variable

True

In [38]:
num1 is not n2

False

In [43]:
id(num1)

9789280

In [44]:
id(n2)

9789280

In [51]:
x1 = 30

In [52]:
x2 = 30

In [53]:
id(x1)

9789920

In [54]:
id(x2)

9789920